{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', True) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label col-sm-2">
                {{ field.label.text|replace('_', ' ')|title }}{% if field.flags.required %}*{% endif %}
            </label>
        {% endif %}
        <div class="col-sm-10">
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {{ field(class_='form-control', placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="help-block">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <span class="help-block">{{ field.description|safe }}</span>
            {% endif %}
        </div>
    </div>
{%- endmacro %}


<!DOCTYPE html>
<html>
    <head>
        <title>EDA - Sistema</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token() }}"> 
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/font-awesome.css" rel="stylesheet">
        <link href="/static/css/jquery.cleditor.css" rel="stylesheet">
        <link href="/static/css/datepicker3.css" rel="stylesheet">
        <link href="/static/css/jquery.loadmask.css" rel="stylesheet">
        <link href="/static/css/chosen.css" rel="stylesheet">
        <link href="/static/css/pnotify.custom.min.css" rel="stylesheet">
        <link href="/static/css/sb-admin.css" rel="stylesheet">
        <!-- custom css -->
        <link href="/static/css/entrenamiento.css" rel="stylesheet">
        {% block additional_css %}
        {% endblock %}
        {% block additional_headers %}
        {% endblock %}
        <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key{{ config.GOOGLE_MAPS_API_KEY }}=&sensor=false"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block content %}
        {% endblock %}
        

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/js/vendor/jquery-1.9.1.js"></script>
        <script src="/static/js/vendor/jquery.metisMenu.js"></script>
        <script src="/static/js/vendor/handlebars-1.0.0.js"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>
        <script src="/static/js/vendor/classy.js"></script>
        <script src="/static/js/vendor/bootstrap-datepicker.js"></script>
        <script src="/static/js/vendor/pekeUpload.js"></script>
        <script src="/static/js/vendor/jquery.cleditor.min.js"></script>
        <script src="/static/js/vendor/jquery.loadmask.min.js"></script>
        <script src="/static/js/vendor/underscore.js"></script>
        <script src="/static/js/vendor/underscore.string.min.js"></script>
        <script src="/static/js/vendor/moment.js"></script>
        <script src="/static/js/vendor/chosen.jquery.js"></script>
        <script src="/static/js/vendor/pnotify.custom.min.js"></script>

        <script src="/static/js/utils/handlebars-extensions.js"></script>
        <script src="/static/js/utils/jquery-extensions.js"></script>
        <script src="/static/js/utils/utils.js"></script>
        <script src="/static/js/utils/api-manager.js"></script>
        {% block additional_javascript %}
        {% endblock %}


  </body>
</html>
