{% extends "base.html" %}


{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', True) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label col-sm-2">
                {{ field.label.text|replace('_', ' ')|title }}{% if field.flags.required %}*{% endif %}
            </label>
        {% endif %}
        <div class="col-sm-10">
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {{ field(class_='form-control', placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="help-block">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <span class="help-block">{{ field.description|safe }}</span>
            {% endif %}
        </div>
    </div>
{%- endmacro %}




{% block content %}
    <div class="container">
        {% if error_invitacion %}
            <div class="alert alert-danger" id="javascript-error">
                <strong>La invitacion no existe o ya fue usada</strong>
            </div>
        {% endif %}
        <form role="form" class="form-horizontal" method="POST" action="/crear/usuario/invitacion/{{ hash_invitacion}}/">
            <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <h3>Crear nuevo usuario</h3>
            {{ form_field(form.email) }} 
            {{ form_field(form.nombre) }} 
            {{ form_field(form.apellido) }} 
            {{ form_field(form.password) }} 
            {{ form_field(form.password_confirmation) }} 
            {{ form_field(form.foto_archivo) }} 
            {{ form_field(form.fecha_ingreso) }} 
            {{ form_field(form.fecha_nacimiento) }} 
            {{ form_field(form.dni) }} 
            {{ form_field(form.telefono) }} 
            {{ form_field(form.celular) }} 
            {{ form_field(form.direccion) }} 
            {{ form_field(form.localidad) }} 
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary button-save">Grabar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block additional_javascript %}
    <script type="text/javascript">
        $('#fecha_ingreso').datepicker({
            format: 'dd/mm/yyyy'
        });
        $('#fecha_nacimiento').datepicker({
            format: 'dd/mm/yyyy'
        });
 
    </script>
{% endblock %}

