{% extends "base.html" %}

{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', True) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label col-sm-2">
                {{ field.label.text|replace('_', ' ')|title }}{% if field.flags.required %}*{% endif %}
            </label>
        {% endif %}
        <div class="col-sm-10">
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {{ field(class_='form-control', placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="help-block">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <span class="help-block">{{ field.description|safe }}</span>
            {% endif %}
        </div>
    </div>
{%- endmacro %}


{% block menu %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trabajo<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Trabajo realizado</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Cantidad de flechas por tipo de trabajo</a></li>
                        <li><a href="#">Porcentajde de tipos de trabajos</a></li>
                    </ul>
                </li>
                -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Torneos<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="application-4" class="menu-option">Torneos/Practicas</a></li>
                        <!--
                        <li class="divider"></li>
                        <li><a href="#">Cantidad de flechas por tipo de trabajo</a></li>
                        <li><a href="#">Porcentajde de tipos de trabajos</a></li>
                        -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Informacion general del arquero<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="application-3" class="menu-option">Arco recurvado</a></li>
                        <li><a href="#">Arco compuesto</a></li>
                        <!--
                        <li><a href="#">Rutinas del gimnasio</a></li>
                        -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otras Cosas<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="application-1" class="menu-option">Lugares</a></li>
                        <!--
                        <li><a href="#" id="application-2" class="menu-option">Usuarios</a></li>
                        <li><a href="#">Clima</a></li>
                        -->
                        <li><a href="#" id="application-5" class="menu-option">Invitaciones</a></li>
                        <li><a href="#" id="application-6" class="menu-option">Pagos</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout/">Logout</a>
                </li>
            </ul>
        </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-danger" id="javascript-error" style="display: none;">
            <strong>Error en la aplicacion</strong> Ocurrio un error en la aplicacion. Por favor <a href="/">refresca la pagina</a>
        </div>
        <div class="alert alert-danger" id="server-error" style="display: none;">
            <strong>Error en la aplicacion</strong> Ya se le notifico a los developers del mismo.
        </div>
        <div class="table-container">
        </div>
        <div class="form-container">
        </div>
    </div>
{% endblock %}

{% block additional_javascript %}
    <script id="arco-recurvado-form-handlebars-template" type="text/x-handlebars-template">
        <form role="form" class="form-horizontal">
            {{ form_field(arco_recurvado_form.nombre) }} 
            {{ form_field(arco_recurvado_form.comentario) }} 
            <fieldset>
                <legend>Riser</legend>
                {{ form_field(arco_recurvado_form.marca_riser) }} 
                {{ form_field(arco_recurvado_form.modelo_riser) }} 
                {{ form_field(arco_recurvado_form.largo_riser) }} 
            </fieldset>
            <fieldset>
                <legend>Palas</legend>
                {{ form_field(arco_recurvado_form.marca_palas) }} 
                {{ form_field(arco_recurvado_form.modelo_palas) }} 
                {{ form_field(arco_recurvado_form.largo_palas) }} 
                {{ form_field(arco_recurvado_form.libraje_palas) }} 
                {{ form_field(arco_recurvado_form.libraje_real) }} 
                {{ form_field(arco_recurvado_form.tipo_encastre) }} 
            </fieldset>

            <fieldset>
                <legend>Otras cosas</legend>
                {{ form_field(arco_recurvado_form.modelo_mira) }} 
                {{ form_field(arco_recurvado_form.modelo_clicker) }} 
                {{ form_field(arco_recurvado_form.modelo_rest) }} 
                {{ form_field(arco_recurvado_form.modelo_cushion_plunger) }} 
            </fieldset>
            <fieldset>
                <legend>Barra Principal</legend>
                {{ form_field(arco_recurvado_form.modelo_barra_larga_estabilizacion) }} 
                {{ form_field(arco_recurvado_form.largo_barra_larga_estabilizacion) }} 
                {{ form_field(arco_recurvado_form.peso_adicional_barra_larga) }} 
            </fieldset>
            <fieldset>
                <legend>V-Bar / Extender </legend>
                {{ form_field(arco_recurvado_form.modelo_vbar_estabilizacion) }} 
                {{ form_field(arco_recurvado_form.modelo_extender_estabilizacion) }} 
                {{ form_field(arco_recurvado_form.largo_extender_estabilizacion) }} 
            </fieldset>
            <fieldset>
                <legend>Barras Laterales</legend>
                {{ form_field(arco_recurvado_form.modelo_barra_lateral_estabilizacion) }} 
                {{ form_field(arco_recurvado_form.largo_barra_lateral_estabilizacion) }} 
                {{ form_field(arco_recurvado_form.peso_adicional_barra_lateral) }} 
            </fieldset>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary button-save">Grabar</button>
                </div>
            </div>        
        </form>        
    </script>


    <script src="/static/js/consts/tipo_torneos.js"></script>
    <script src="/static/js/consts/singleton.js"></script>

    <script src="/static/js/base/table-view.js"></script>
    <script src="/static/js/base/form-view.js"></script>
    <script src="/static/js/base/crud-view.js"></script>
    <script src="/static/js/base/history-manager.js"></script>
    <script src="/static/js/base/app.js"></script>
    <script src="/static/js/base/apps-manager.js"></script>
    <!-- Aca van todas las opciones de cada una de los ABMS correspondientes -->
    <script src="/static/js/crud/invitacion.js"></script>
    <script src="/static/js/crud/lugar.js"></script>
    <script src="/static/js/crud/usuarios.js"></script>
    <script src="/static/js/crud/arco-recurvado.js"></script>
    <script src="/static/js/crud/torneos.js"></script>
    <script src="/static/js/crud/pago.js"></script>

    <!-- 
        Esto tiene que ir ultimo para asegurarme de que 
        todas las clases a las que hace referencia existan.
    -->

    <script src="/static/js/base/register.js"></script>
    <script src="/static/js/main/menu-view.js"></script>

    <script type="text/javascript">
        var menuView = new MainMenuView($("#main-menu"),
                                        appsManager);
        menuView.render();
    </script>
{% endblock %}


