{% extends "base.html" %}

{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', True) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label col-sm-2">
                {{ field.label.text|replace('_', ' ')|title }}{% if field.flags.required %}*{% endif %}
            </label>
        {% endif %}
        <div class="col-sm-10">
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {{ field(class_='form-control', placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="help-block">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <span class="help-block">{{ field.description|safe }}</span>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% block content %}
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="padding-top: 5px"><img src="/static/images/eda.jpg" style="height: 30px"/></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>                
                            <a href="/change-password/">Cambiar password</a>
                        </li>
                        <li>
                            <a href="/logout/">
                                <i class="fa fa-sign-out fa-fw"></i> Logout
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Torneos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="application-4" class="menu-option">Torneos / Practicas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Informacion del Equipo <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="application-3" class="menu-option">Arco recurvado</a>
                                </li>
                                <li>
                                    <a href="#">Arco Compuesto</a>
                                </li>
                            </ul>
                       </li>
                       <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Pago <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="application-6" class="menu-option">Cargar/Editar</a>
                                <li>
                                <li>
                                    <a href="#">Graficos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Pagos por arquero</a>
                                        </li>
                                        <li>
                                            <a href="#" id="application-7" class="menu-option">Acumulado del año</a>
                                        </li>
                                        <li>
                                            <a href="#" id="application-12" class="menu-option">Mes a mes</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                       </li>
                       <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Arqueros <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="application-8" class="menu-option">Cargar/Editar </a>
                                </li>
                                <li>
                                    <a href="#" id="application-10" class="menu-option"> Asistencia</a>
                                </li>
                                <li>
                                    <a href="#" id="application-11" class="menu-option"> Estado Actividad</a>
                                </li>
                                <li>
                                    <a href="#" id="application-5" class="menu-option"> Invitaciones</a>
                                </li>
                                <li>
                                    <a href="#"> Usuarios</a>
                                </li>
                            </ul>
                        </li>

                       <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Escuela <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="application-1" class="menu-option"> Lugares</a>
                                </li>
                                <li>
                                    <a href="#" id="application-9" class="menu-option"> Turnos</a>
                                </li>
                                <li>
                                    <a href="#">Gastos</a>
                                </li>
                                <li>
                                    <a href="#" id="application-3" class="menu-option"> Invitaciones</a>
                                </li>
                                <li>
                                    <a href="#"> Usuarios</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}


{% block additional_javascript %}
    {% include 'javascript/table-view.handlebars' %} 
    {% include 'javascript/filter.handlebars' %} 
    {% include 'javascript/crud.handlebars' %} 
    {% include 'javascript/graficos.handlebars' %} 




    <script src="/static/js/models/database-information.js"></script>
    <script src="/static/js/models/column-information.js"></script>
    <script src="/static/js/models/filter.js"></script>
    <script src="/static/js/models/fk-information.js"></script>
    <script src="/static/js/models/form-field-data.js"></script>
    
    <script src="/static/js/base/crud-view.js"></script>
    <script src="/static/js/base/history-manager.js"></script>
    <script src="/static/js/base/app.js"></script>
    <script src="/static/js/base/apps-manager.js"></script>

    <script src="/static/js/base/crud/filter/view.js"></script>
    <script src="/static/js/base/crud/filter/controller.js"></script>
    <script src="/static/js/base/crud/filters/view.js"></script>
    <script src="/static/js/base/crud/filters/controller.js"></script>
    <script src="/static/js/base/crud/form/view.js"></script>
    <script src="/static/js/base/crud/form/controller.js"></script>
    <script src="/static/js/base/crud/search/controller.js"></script>
    <script src="/static/js/base/crud/table/controller.js"></script>
    <script src="/static/js/base/crud/table/view.js"></script>

    <script src="/static/js/base/crud/app.js"></script>


    <!-- 
        Aca van todas las opciones de cada una de los ABMS correspondientes 
    <script src="/static/js/crud/invitacion.js"></script>
    <script src="/static/js/crud/lugar.js"></script>
    <script src="/static/js/crud/usuarios.js"></script>
    <script src="/static/js/crud/arco-recurvado.js"></script>
    <script src="/static/js/crud/torneos.js"></script>
    -->
    <script src="/static/js/apps/crud/lugar.js"></script>
    <script src="/static/js/apps/crud/pago.js"></script>
    <script src="/static/js/apps/crud/invitacion.js"></script>
    <script src="/static/js/apps/crud/arco-recurvado.js"></script>
    <script src="/static/js/apps/crud/arquero.js"></script>
    <script src="/static/js/apps/crud/turno.js"></script>
    <script src="/static/js/apps/crud/asistencia.js"></script>
    <script src="/static/js/apps/crud/historia-estado-arquero.js"></script>

    <!--
        Ahora tengo que poner todas las cosas de los graficos
    -->
    <script src="/static/js/base/graficos/app.js"></script>
    <script src="/static/js/apps/graficos/pago/pagos-acumulados-controller.js"></script>
    <script src="/static/js/apps/graficos/pago/acumulado.js"></script>
    <script src="/static/js/apps/graficos/pago/pagos-mes-controller.js"></script>
    <script src="/static/js/apps/graficos/pago/mes.js"></script>

    <script src="/static/js/main/menu-view.js"></script>
    <script src="/static/js/main/main-application.js"></script>
    

    <script type="text/javascript">
        $(document).ready(function(ev) {
            window.app = new MainApplication();
            window.app.start();
        });
    </script>
{% endblock %}


