{% extends "base.html" %}


{% block content %}
    <div class="container">
        {% if cambiado %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Se reseto el password con ese mail. Te deberia llegar un email con el nuevo password
            </div>
        {% endif %}
        {% if no_existe  %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                No existe un usuario con ese email.
            </div>
        {% endif %}
        <form class="login form-horizontal" method="POST" action="/password-reset/">
            <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <h1>Password Reset</h1>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

