<script id="crud-view-handlebars-template" type="text/x-handlebars-template">
    {% raw %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{readableName tableName}}
                    <button type="button" class="btn btn-primary button-create">
                        <span class=".glyphicon .glyphicon-plus">Crear uno nuevo</span>
                    </button>
                <h1>
            </div>
        </div>
        <div class="row">                
            <div class="alert alert-danger" id="javascript-error" style="display: none;">
                <strong>Error en la aplicacion</strong> Ocurrio un error en la aplicacion. Por favor <a href="/">refresca la pagina</a>
            </div>
            <div class="alert alert-danger" id="server-error" style="display: none;">
                <strong>Error en la aplicacion</strong> Ya se le notifico a los developers del mismo.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 crud-container">
                <div class="table-container table-responsive" role="grid">
                </div>
                <div class="form-container">
                </div>
            </div>
        </div>
    {% endraw %}
</script>
