<script id="filters-view-handlebars-template" type="text/x-handlebars-template">
{% raw %}
    {{#if filters }}
        Filters:
        <ul>
        {{#each filters }}
            <li class="filter-list-item">
                <a href="#" class="remove-filter" id="remove-filter-{{ @index }}">
                    <span class="glyphicon glyphicon-remove-circle" id="remove-filter-{{ @index}}"></span>
                </a>
                {{renderFilterData this ../databaseInformation }}
            </li>
        {{/each }}
        </ul>
    {{/if }}
{% endraw %}
</script>

