<script id="graficos-view-handlebars-template" type="text/x-handlebars-template">
    {% raw %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{readableName titulo}}
                <h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 crud-container">
                <div class="table-container table-responsive" role="grid">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Filtros
                        </div>
                        <div class="panel-body">
                            <div class="row search-conditions">
                                <div class="filter">
                                </div>
                                <div class="existing-filters">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-container">
                    </div>
                </div>
            </div>
        </div>
    {% endraw %}
</script>
