<script id="table-content-view-handlebars-template" type="text/x-handlebars-template">
    {% raw %}
        {{#if values }}
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    {{#each columnNames }}
                        {{#ifCond this "!==" "id" }}
                            <th>
                                {{renderColumnHeader this ../../orderBy ../../orderDirection ../../columnsInformation}}
                            </th>
                        {{/ifCond}}
                    {{/each}}
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {{#each values}}
                        <tr>
                            {{renderTableRow this ../columnNames ../columnsInformation ../fkInformation}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <h2>No se encontro información</h2>
        {{/if}}
    {% endraw %}
</script>

